In [50]:
import pandas as pd
import time
import os

begin ='2016-02-05'
end = '2016-04-08'
geshu = 3

a = pd.read_excel('/Users/liuhuanshuo/Desktop/pool_date_new.xlsx')   
k = 0   
for i in range(327): 
    a.ix[k,0] = a.ix[k,0].strftime("%Y-%m-%d")
    k = k+1    
s = list(a['日期']).index(begin)
p = list(a['日期']).index(end)
a.ix[s,2] = 'F' #修改第一天的end 不卖出
a.ix[p,3] = 'F' #修改最后一天的select  不计算
t = a[s:p+1].reset_index(drop=True) #计算区间
t = t.fillna(0)  

riqi_list = t
jisuanriqi = riqi_list[riqi_list['select'] == 'T'] #选择计算日期
jisuanriqi = jisuanriqi.reset_index(drop=True)
print(jisuanriqi)

temp = pd.DataFrame(columns = ['代码','日期','市盈率','开盘价(元)','收盘价(元)']) #储存代码
for i in jisuanriqi['日期']:
    df_list = pd.read_excel('/Users/liuhuanshuo/Desktop/stocks_list.xlsx')
    temp1 = pd.DataFrame(columns = ['代码','日期','市盈率','开盘价(元)','收盘价(元)'])
    for file in df_list['股票代码']:
        excel_path = os.path.join('/Users','liuhuanshuo','desktop','作业','量化','单佳雷数据','沪A股票原始数据/') + file + '.xls'
        df = pd.read_excel(excel_path) 
        df_one = df.loc[:,['代码','日期','市盈率','开盘价(元)','收盘价(元)']]    #切片 提取指定列
        a = df_one[(df_one.日期 == i) & (df_one.市盈率 > 0)]  #选择特定行
        temp1 = temp1.append(a,ignore_index=True)    #将刚刚选取的行添加到数据框中
    temp1_sort = temp1.sort_values(by = '市盈率')  #排序
    s = temp1_sort.iloc[0:geshu]
    s = s.reset_index(drop=True)
    temp = temp.append(s,ignore_index=True)
    

goumaidaima = temp
print(goumaidaima)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':

           日期 buy end select
0  2016-02-05   F   F      T
1  2016-02-19   F   T      T
2  2016-02-26   F   T      T
3  2016-03-04   F   T      T
4  2016-03-11   F   T      T
5  2016-03-18   F   T      T
6  2016-03-25   F   T      T
7  2016-04-01   F   T      T
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
           代码         日期     市盈率   开盘价(元)   收盘价(元)
0   600015.SH 2016-02-05  5.3759   9.1683   9.1587
1   600016.SH 2016-02-05  6.6702   8.1532   8.1147
2   600000.SH 2016-02-05  6.7752  15.2259  16.2328
3   600015.SH 2016-02-19  5.3985   9.2358   9.1972
4   600016.SH 2016-02-19  6.7335   8.2206   8.1917
5   600000.SH 2016-02-19  6.8010  16.2946  16.2946
6   600015.SH 2016-02-26  5.2797   8.9562   8.9948
7   600016.SH 2016-02-26  6.5753   7.9515   8.0680
8   600000.SH 2016-02-26  6.8010  16.2946  16.2946
9   600015.SH 2016-03-04  5.8116   9.3901   9.9010
10  600000.SH 2016-03-04  6.8010  16.2946  16.2946
11  600016.SH 2016-03-04  7.3824   8.3981   9.0583
12  600015.SH 2016-03-11  5.7211   9.5732   9.7468
13  600000.SH 2016-03-11  6.2554  15.4644  14.9875
14  600016.SH 2016-03-11  7.2162   8.7379   8.8544
15  600015.SH 2016-03-18  5.8343   9.8817   9.9396
16  600000.SH 2016-03-18  6.9285  15.7117  15.7558
17  600016.SH 2016-03-18  7.2241   8.9224   8.8641
18  600015.SH 2016-03-25  5.7381   9.7275   9.7757
19  600000.SH 2016-03-25  6.8897  15.6499  15.6675
20  600016.SH 2016-03-25  7.1925   8.8253   8.8253
21  600015.SH 2016-04-01  5.7890   9.8046   9.8625
22  600000.SH 2016-04-01  7.0605  15.8795  16.0561
23  600016.SH 2016-04-01  7.3112   8.8738   8.9709

In [197]:

zhengchangriqi = t[t['buy'] == 0]
temp4 = pd.DataFrame(columns = ['代码','日期','开盘价(元)','市盈率','收盘价(元)'])
for i in zhengchangriqi['日期']:
    df_list = pd.read_excel('/Users/liuhuanshuo/Desktop/stocks_list.xlsx')
    for file in goumaidaima[0:geshu].代码:
        excel_path = os.path.join('/Users','liuhuanshuo','desktop','作业','量化','单佳雷数据','沪A股票原始数据/') + file + '.xls'
        df = pd.read_excel(excel_path) 
        df_one = df.loc[:,['代码','日期','开盘价(元)','市盈率','收盘价(元)']]    #切片 提取指定列
        a = df_one[(df_one.日期 == i) & (df_one.市盈率 > 0)]  #选择特定行
        temp4 = temp4.append(a,ignore_index=True)
temp4

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

           代码         日期   开盘价(元)     市盈率   收盘价(元)
0   600015.SH 2016-02-16   9.0141  5.4155   9.2262
1   600016.SH 2016-02-16   8.1436  6.7889   8.2591
2   600000.SH 2016-02-16  16.2946  6.8010  16.2946
3   600015.SH 2016-02-17   9.1972  5.4551   9.2937
4   600016.SH 2016-02-17   8.2495  6.7731   8.2399
5   600000.SH 2016-02-17  16.2946  6.8010  16.2946
6   600015.SH 2016-02-18   9.3226  5.4268   9.2454
7   600016.SH 2016-02-18   8.2784  6.7968   8.2687
8   600000.SH 2016-02-18  16.2946  6.8010  16.2946
9   600015.SH 2016-02-23   9.4093  5.4721   9.3226
10  600016.SH 2016-02-23   8.2591  6.7019   8.1532
11  600000.SH 2016-02-23  16.2946  6.8010  16.2946
12  600015.SH 2016-02-24   9.3033  5.4891   9.3515
13  600016.SH 2016-02-24   8.1340  6.7256   8.1821
14  600000.SH 2016-02-24  16.2946  6.8010  16.2946
15  600015.SH 2016-02-25   9.3322  5.2118   8.8791
16  600016.SH 2016-02-25   8.1725  6.4962   7.9029
17  600000.SH 2016-02-25  16.2946  6.8010  16.2946
18  600015.SH 2016-03-01   8.9369  5.3136   9.0526
19  600016.SH 2016-03-01   8.1942  6.6702   8.1845
20  600000.SH 2016-03-01  16.2946  6.8010  16.2946
21  600015.SH 2016-03-02   9.1008  5.4947   9.3611
22  600016.SH 2016-03-02   8.2525  6.7731   8.3107
23  600000.SH 2016-03-02  16.2946  6.8010  16.2946
24  600015.SH 2016-03-03   9.3129  5.5400   9.4383
25  600016.SH 2016-03-03   8.3398  6.8839   8.4466
26  600000.SH 2016-03-03  16.2946  6.8010  16.2946
27  600015.SH 2016-03-08   9.7178  5.7720   9.8335
28  600016.SH 2016-03-08   8.8447  7.3507   9.0195
29  600000.SH 2016-03-08  16.2946  6.8010  16.2946
..        ...        ...      ...     ...      ...
39  600015.SH 2016-03-16   9.7082  5.8060   9.8914
40  600016.SH 2016-03-16   8.8447  7.4694   9.1651
41  600000.SH 2016-03-16  14.9433  6.6462  15.9236
42  600015.SH 2016-03-17   9.8432  5.8003   9.8817
43  600016.SH 2016-03-17   9.1845  7.2795   8.9321
44  600000.SH 2016-03-17  15.7293  6.5245  15.6322
45  600015.SH 2016-03-22   9.9878  5.8512   9.9685
46  600016.SH 2016-03-22   8.9709  7.2716   8.9224
47  600000.SH 2016-03-22  15.9766  7.0489  16.0296
48  600015.SH 2016-03-23   9.9781  5.8060   9.8914
49  600016.SH 2016-03-23   8.8835  7.2479   8.8932
50  600000.SH 2016-03-23  16.0385  7.0411  16.0120
51  600015.SH 2016-03-24   9.8817  5.7154   9.7371
52  600016.SH 2016-03-24   8.8544  7.1925   8.8253
53  600000.SH 2016-03-24  15.9943  6.8819  15.6499
54  600015.SH 2016-03-29   9.7371  5.6532   9.6311
55  600016.SH 2016-03-29   8.6991  7.0738   8.6796
56  600000.SH 2016-03-29  15.4821  6.7770  15.4114
57  600015.SH 2016-03-30   9.6889  5.7607   9.8143
58  600016.SH 2016-03-30   8.7573  7.2320   8.8738
59  600000.SH 2016-03-30  15.5880  6.9401  15.7823
60  600015.SH 2016-03-31   9.8625  5.7494   9.7950
61  600016.SH 2016-03-31   8.9029  7.2083   8.8447
62  600000.SH 2016-03-31  15.8795  6.9634  15.8353
63  600015.SH 2016-04-06   9.8335  5.7946   9.8721
64  600016.SH 2016-04-06   8.8641  7.1608   8.7864
65  600000.SH 2016-04-06  15.9236  6.9751  15.8618
66  600015.SH 2016-04-07   9.8721  5.7494   9.7950
67  600016.SH 2016-04-07   8.8059  7.1133   8.7282
68  600000.SH 2016-04-07  15.8530  6.8702  15.6234

[69 rows x 5 columns]

In [132]:
maichudaima = riqi_list[riqi_list['end'] == 'T']
temp2 = pd.DataFrame(columns = ['代码','日期','开盘价(元)','市盈率','收盘价(元)'])
for i in maichuriqi['日期']:
    df_list = pd.read_excel('/Users/liuhuanshuo/Desktop/stocks_list.xlsx')
    for file in goumaidaima[0:geshu].代码:
        excel_path = os.path.join('/Users','liuhuanshuo','desktop','作业','量化','单佳雷数据','沪A股票原始数据/') + file + '.xls'
        df = pd.read_excel(excel_path) 
        df_one = df.loc[:,['代码','日期','开盘价(元)','市盈率','收盘价(元)']]    #切片 提取指定列
        a = df_one[(df_one.日期 == i) & (df_one.市盈率 > 0)]  #选择特定行
        temp2 = temp2.append(a,ignore_index=True)
temp2

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

           代码         日期   开盘价(元)     市盈率   收盘价(元)
0   600015.SH 2016-02-19   9.2358  5.3985   9.1972
1   600016.SH 2016-02-19   8.2206  6.7335   8.1917
2   600000.SH 2016-02-19  16.2946  6.8010  16.2946
3   600015.SH 2016-02-26   8.9562  5.2797   8.9948
4   600016.SH 2016-02-26   7.9515  6.5753   8.0680
5   600000.SH 2016-02-26  16.2946  6.8010  16.2946
6   600015.SH 2016-03-04   9.3901  5.8116   9.9010
7   600016.SH 2016-03-04   8.3981  7.3824   9.0583
8   600000.SH 2016-03-04  16.2946  6.8010  16.2946
9   600015.SH 2016-03-11   9.5732  5.7211   9.7468
10  600016.SH 2016-03-11   8.7379  7.2162   8.8544
11  600000.SH 2016-03-11  15.4644  6.2554  14.9875
12  600015.SH 2016-03-18   9.8817  5.8343   9.9396
13  600016.SH 2016-03-18   8.9224  7.2241   8.8641
14  600000.SH 2016-03-18  15.7117  6.9285  15.7558
15  600015.SH 2016-03-25   9.7275  5.7381   9.7757
16  600016.SH 2016-03-25   8.8253  7.1925   8.8253
17  600000.SH 2016-03-25  15.6499  6.8897  15.6675
18  600015.SH 2016-04-01   9.8046  5.7890   9.8625
19  600016.SH 2016-04-01   8.8738  7.3112   8.9709
20  600000.SH 2016-04-01  15.8795  7.0605  16.0561
21  600015.SH 2016-04-08   9.7564  5.7494   9.7950
22  600016.SH 2016-04-08   8.6602  7.1133   8.7282
23  600000.SH 2016-04-08  15.5086  6.8353  15.5439

In [147]:
mairuriqi = riqi_list[riqi_list['buy'] == 'T']
temp3 = pd.DataFrame(columns = ['代码','日期','开盘价(元)','市盈率','收盘价(元)'])
for i in mairuriqi['日期']:
    df_list = pd.read_excel('/Users/liuhuanshuo/Desktop/stocks_list.xlsx')
    for file in goumaidaima[0:geshu].代码:
        excel_path = os.path.join('/Users','liuhuanshuo','desktop','作业','量化','单佳雷数据','沪A股票原始数据/') + file + '.xls'
        df = pd.read_excel(excel_path) 
        df_one = df.loc[:,['代码','日期','开盘价(元)','市盈率','收盘价(元)']]    #切片 提取指定列
        a = df_one[(df_one.日期 == i) & (df_one.市盈率 > 0)]  #选择特定行
        temp3 = temp3.append(a,ignore_index=True)
temp3

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

           代码         日期   开盘价(元)     市盈率   收盘价(元)
0   600015.SH 2016-02-15   9.0237  5.2627   8.9659
1   600016.SH 2016-02-15   8.0281  6.6940   8.1436
2   600000.SH 2016-02-15  15.8795  6.8010  16.2946
3   600015.SH 2016-02-22   9.2551  5.5570   9.4672
4   600016.SH 2016-02-22   8.2591  6.8048   8.2784
5   600000.SH 2016-02-22  16.2946  6.8010  16.2946
6   600015.SH 2016-02-29   8.9852  5.2684   8.9755
7   600016.SH 2016-02-29   8.0194  6.6861   8.2039
8   600000.SH 2016-02-29  16.2946  6.8010  16.2946
9   600015.SH 2016-03-07   9.8046  5.7211   9.7468
10  600016.SH 2016-03-07   8.9806  7.2558   8.9029
11  600000.SH 2016-03-07  16.2946  6.8010  16.2946
12  600015.SH 2016-03-14   9.7468  5.7041   9.7178
13  600016.SH 2016-03-14   8.9224  7.1450   8.7670
14  600000.SH 2016-03-14  14.9080  6.2149  14.8903
15  600015.SH 2016-03-21   9.9492  5.8569   9.9781
16  600016.SH 2016-03-21   8.8932  7.2795   8.9321
17  600000.SH 2016-03-21  15.7029  7.0139  15.9501
18  600015.SH 2016-03-28   9.8046  5.7041   9.7178
19  600016.SH 2016-03-28   8.8350  7.0659   8.6699
20  600000.SH 2016-03-28  15.7029  6.7770  15.4114
21  600015.SH 2016-04-05   9.8335  5.8060   9.8914
22  600016.SH 2016-04-05   8.8544  7.2953   8.9515
23  600000.SH 2016-04-05  15.8442  7.0566  16.0473

In [212]:
keyongzijin = 1000000
chigujiazhi = 0
keyongzijin_1 = []
chigujiazhi_new = []
l = 0
chigushuliang = []  #存储持股数量
for i in range(len(riqi_list)):
    if  (riqi_list.ix[i,1] == 'F' and riqi_list.ix[i,2] == 'F'):
        keyongzijin_1.append(keyongzijin)
        chigujiazhi_new.append(chigujiazhi)
        
    elif (riqi_list.ix[i,1] == 'T' and riqi_list.ix[i,2] == 'F'):
        goumaizijin = keyongzijin/geshu #第一次100万
        for l in range(geshu):
            chigushuliang_1 = (goumaizijin/temp3.ix[l,2])
            chigushuliang.append(chigushuliang_1)
        chigujiazhi_1 =[]
        for nn in range(geshu):
            chigujiazhi_2 = chigushuliang[nn] * temp3.ix[l,2] 
            chigujiazhi_1.append(chigujiazhi_2)
        chigujiazhi = sum(chigujiazhi_1)
        keyongzijin = 0 #第一次买完变成0
        
        keyongzijin_1.append(keyongzijin)
        chigujiazhi_new.append(chigujiazhi)
        
    elif (riqi_list.ix[i,1] == 'F' and riqi_list.ix[i,2] == 'T'):
        chigujiazhi = 0
        chucunzijin = []
        for y in range(geshu):
            keyongzijin_2 = chigushuliang[y] * temp2.ix[y,4]
            chucunzijin.append(keyongzijin_2)
        keyongzijin = sum(chucunzijin)
        keyongzijin_1.append(keyongzijin)
        chigujiazhi_new.append(chigujiazhi)
        
    else:
        keyongzijin_1.append(keyongzijin)
        chigujiazhi_.append(chigujiazhi)
        
c={"可用资金" : keyongzijin_1,
   "持股价值" : chigujiazhi_new}
data1=DataFrame(c)
data1.insert(0,'日期',t['日期'])
data1

NameError: name 'chigujiazhi_' is not defined

In [214]:
def jisuan():
    '用于计算策略轮动'
    
    keyongzijin = 1000000
    chigujiazhi = 0
    keyongzijin_1 = []
    chigujiazhi_1 = []
    l = 0
    chigushuliang = []  #存储持股数量
    pp = 0
    kk = 0
    gg = 0
    for i in range(len(riqi_list)):

        if (t.ix[i,1] == 'T' and t.ix[i,2] == 'F'):
            goumaizijin = keyongzijin/geshu #第一次100万

            for l in range(geshu):
                chigushuliang_1 = (goumaizijin/temp3.ix[l+pp,2])
                chigushuliang.append(chigushuliang_1)

            keyongzijin = 0 #第一次卖完变成0
            chigujiazhi = goumaizijin * geshu
            pp = pp + 3
            keyongzijin_1.append(keyongzijin)
            chigujiazhi_1.append(chigujiazhi)

        elif (t.ix[i,1] == 'F' and t.ix[i,2] == 'T'):
            chigujiazhi = 0
            chucunzijin = []
            for y in range(geshu):
                keyongzijin_2 = chigushuliang[y] * temp2.ix[y+kk,4]
                chucunzijin.append(keyongzijin_2)
            kk = kk + 3
            keyongzijin = sum(chucunzijin)
            keyongzijin_1.append(keyongzijin)
            chigujiazhi_1.append(chigujiazhi)

        elif (t.ix[i,1] == 0 and t.ix[i,2] == 0 and t.ix[i,3] == 0):
            xianyoujiazhi = []
            for z in range(geshu):
                xianyoujiazhi_1 = chigushuliang[z] * temp4.ix[z + gg,2]
                xianyoujiazhi.append(xianyoujiazhi_1)
            gg = gg + 3
            chigujiazhi = sum(xianyoujiazhi)
            keyongzijin_1.append(keyongzijin)
            chigujiazhi_1.append(chigujiazhi)
        else:
            keyongzijin_1.append(keyongzijin)
            chigujiazhi_1.append(chigujiazhi)

    c={"可用资金" : keyongzijin_1,
       "持股价值" : chigujiazhi_1}
    data1=DataFrame(c)
    data1.insert(0,'日期',t['日期'])
    data1

            日期          可用资金          持股价值
0   2016-02-05  1.000000e+06  0.000000e+00
1   2016-02-15  0.000000e+00  1.000000e+06
2   2016-02-16  0.000000e+00  1.013155e+06
3   2016-02-17  0.000000e+00  1.024315e+06
4   2016-02-18  0.000000e+00  1.030147e+06
5   2016-02-19  1.021915e+06  0.000000e+00
6   2016-02-22  0.000000e+00  1.021915e+06
7   2016-02-23  0.000000e+00  1.032549e+06
8   2016-02-24  0.000000e+00  1.023439e+06
9   2016-02-25  0.000000e+00  1.026105e+06
10  2016-02-26  1.009303e+06  0.000000e+00
11  2016-02-29  0.000000e+00  1.009303e+06
12  2016-03-01  0.000000e+00  1.012404e+06
13  2016-03-02  0.000000e+00  1.020879e+06
14  2016-03-03  0.000000e+00  1.032339e+06
15  2016-03-04  1.083896e+06  0.000000e+00
16  2016-03-07  0.000000e+00  1.083896e+06
17  2016-03-08  0.000000e+00  1.068259e+06
18  2016-03-09  0.000000e+00  1.062447e+06
19  2016-03-10  0.000000e+00  1.072509e+06
20  2016-03-11  1.042295e+06  0.000000e+00
21  2016-03-14  0.000000e+00  1.042295e+06
22  2016-03-15  0.000000e+00  1.038532e+06
23  2016-03-16  0.000000e+00  1.039539e+06
24  2016-03-17  0.000000e+00  1.075134e+06
25  2016-03-18  1.065948e+06  0.000000e+00
26  2016-03-21  0.000000e+00  1.065948e+06
27  2016-03-22  0.000000e+00  1.076798e+06
28  2016-03-23  0.000000e+00  1.074110e+06
29  2016-03-24  0.000000e+00  1.068413e+06
30  2016-03-25  1.056429e+06  0.000000e+00
31  2016-03-28  0.000000e+00  1.056429e+06
32  2016-03-29  0.000000e+00  1.045871e+06
33  2016-03-30  0.000000e+00  1.048730e+06
34  2016-03-31  0.000000e+00  1.067307e+06
35  2016-04-01  1.073838e+06  0.000000e+00
36  2016-04-05  0.000000e+00  1.073838e+06
37  2016-04-06  0.000000e+00  1.065551e+06
38  2016-04-07  0.000000e+00  1.063078e+06
39  2016-04-08  1.050516e+06  0.000000e+00

In [198]:
t

            日期 buy end select
0   2016-02-05   F   F      T
1   2016-02-15   T   F      F
2   2016-02-16   0   0      0
3   2016-02-17   0   0      0
4   2016-02-18   0   0      0
5   2016-02-19   F   T      T
6   2016-02-22   T   F      F
7   2016-02-23   0   0      0
8   2016-02-24   0   0      0
9   2016-02-25   0   0      0
10  2016-02-26   F   T      T
11  2016-02-29   T   F      F
12  2016-03-01   0   0      0
13  2016-03-02   0   0      0
14  2016-03-03   0   0      0
15  2016-03-04   F   T      T
16  2016-03-07   T   F      F
17  2016-03-08   0   0      0
18  2016-03-09   0   0      0
19  2016-03-10   0   0      0
20  2016-03-11   F   T      T
21  2016-03-14   T   F      F
22  2016-03-15   0   0      0
23  2016-03-16   0   0      0
24  2016-03-17   0   0      0
25  2016-03-18   F   T      T
26  2016-03-21   T   F      F
27  2016-03-22   0   0      0
28  2016-03-23   0   0      0
29  2016-03-24   0   0      0
30  2016-03-25   F   T      T
31  2016-03-28   T   F      F
32  2016-03-29   0   0      0
33  2016-03-30   0   0      0
34  2016-03-31   0   0      0
35  2016-04-01   F   T      T
36  2016-04-05   T   F      F
37  2016-04-06   0   0      0
38  2016-04-07   0   0      0
39  2016-04-08   F   T      F

In [196]:
t

            日期 buy end select
0   2016-02-05   F   F      T
1   2016-02-15   T   F      F
2   2016-02-16   0   0      0
3   2016-02-17   0   0      0
4   2016-02-18   0   0      0
5   2016-02-19   F   T      T
6   2016-02-22   T   F      F
7   2016-02-23   0   0      0
8   2016-02-24   0   0      0
9   2016-02-25   0   0      0
10  2016-02-26   F   T      T
11  2016-02-29   T   F      F
12  2016-03-01   0   0      0
13  2016-03-02   0   0      0
14  2016-03-03   0   0      0
15  2016-03-04   F   T      T
16  2016-03-07   T   F      F
17  2016-03-08   0   0      0
18  2016-03-09   0   0      0
19  2016-03-10   0   0      0
20  2016-03-11   F   T      T
21  2016-03-14   T   F      F
22  2016-03-15   0   0      0
23  2016-03-16   0   0      0
24  2016-03-17   0   0      0
25  2016-03-18   F   T      T
26  2016-03-21   T   F      F
27  2016-03-22   0   0      0
28  2016-03-23   0   0      0
29  2016-03-24   0   0      0
30  2016-03-25   F   T      T
31  2016-03-28   T   F      F
32  2016-03-29   0   0      0
33  2016-03-30   0   0      0
34  2016-03-31   0   0      0
35  2016-04-01   F   T      T
36  2016-04-05   T   F      F
37  2016-04-06   0   0      0
38  2016-04-07   0   0      0
39  2016-04-08   F   T      F

In [92]:
goumairiqi = riqi_list[riqi_list['buy'] == 'T']
goumairiqi_1 = pd.DataFrame(columns = ['代码','日期','市盈率','开盘价(元)','收盘价(元)'])
for u in goumairiqi.日期:
    print(u)
    goumairiqi_2 = goumaidaima[goumaidaima.日期 == u]
    goumairiqi_1 = goumairiqi_1.append(goumairiqi_2,ignore_index=True)
goumairiqi_1

2016-02-15
2016-02-22
2016-02-29
2016-03-07
2016-03-14
2016-03-21
2016-03-28
2016-04-05

Empty DataFrame
Columns: [代码, 日期, 市盈率, 开盘价(元), 收盘价(元)]
Index: []

In [114]:
data1

            日期      可用资金     持股价值
0   2016-02-05  10000000        0
1   2016-02-15         0  1000000
2   2016-02-16         0  1000000
3   2016-02-17         0  1000000
4   2016-02-18         0  1000000
5   2016-02-19         0  1000000
6   2016-02-22         0  1000000
7   2016-02-23         0  1000000
8   2016-02-24         0  1000000
9   2016-02-25         0  1000000
10  2016-02-26         0  1000000
11  2016-02-29         0  1000000
12  2016-03-01         0  1000000
13  2016-03-02         0  1000000
14  2016-03-03         0  1000000
15  2016-03-04         0  1000000
16  2016-03-07         0  1000000
17  2016-03-08         0  1000000
18  2016-03-09         0  1000000
19  2016-03-10         0  1000000
20  2016-03-11         0  1000000
21  2016-03-14         0  1000000
22  2016-03-15         0  1000000
23  2016-03-16         0  1000000
24  2016-03-17         0  1000000
25  2016-03-18         0  1000000
26  2016-03-21         0  1000000
27  2016-03-22         0  1000000
28  2016-03-23         0  1000000
29  2016-03-24         0  1000000
30  2016-03-25         0  1000000
31  2016-03-28         0  1000000
32  2016-03-29         0  1000000
33  2016-03-30         0  1000000
34  2016-03-31         0  1000000
35  2016-04-01         0  1000000
36  2016-04-05         0  1000000
37  2016-04-06         0  1000000
38  2016-04-07         0  1000000
39  2016-04-08         0  1000000

In [133]:
a = [4,6,8]
b = sum(a)
b

18

In [73]:
c={"可用资金" : keyongzijin_1,
   "持股价值" : chigujiazhi_1}
data1=DataFrame(c)
data1.insert(0,'日期',t['日期'])

In [24]:
from pandas.core.frame import DataFrame